//bootstrap
@use "~bootstrap/scss/bootstrap";

//colores
@use "./colores" as colores;

// estilos de paginas
@use "./pages/home";
@use "./pages/acciones";
@use "./pages/informes";
@use "./pages/usuarios";

// estilos de componentes 
@use "./Components/navbar";

//estilos generales
.Principal{
    margin-top: 66px;
    min-height: calc(100vh - 123px);
    max-width: 100%;
}




